* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

section, footer {
  padding: 54px 0;
}

h3 {
  font-size: 40px;
  text-align: center;
}

p {
  color: #fff;
}


.navbar {
  background-color: black;
  padding: 10px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  color: #fff;
  margin: 0 15px;
  text-transform: uppercase;
  font-size: 15px;
  display: block;
}

.menu a:not(.btn-principal)::after {
  content: "";
  background-color: #fff;
  height: 3px;
  width: 0%;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}

.menu a:hover::after {
  width: 100%;
}

.logo {
  width: 20%;
}


.btn-principal {
  background-color: rgba(20, 8, 184, 0.98);
  padding: 15px 20px;
  border-radius: 12px;
  transition: 0.2s;
}

.btn-principal:hover {
  background-color: #186dddfa;
}

.btn-secundario {
  background-color: #ffffff;
  color: #000000;
  padding: 15px 20px;
  border-radius: 12px;
  transition: 0.2s;
  display: inline-block;
}

.btn-secundario:hover {
  background-color: #ffffff57;
}


header {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.banner {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 150px 50px;
}

.banner h1 {
  font-size: 55px;
}

.banner p {
  font-size: 14px;
  margin-top: 15px;
  font-weight: lighter;
}


.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.conteudo-item {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.conteudo-item.robo {
  background: radial-gradient(circle, rgb(35, 11, 140) 42%, rgb(56, 20, 73) 84%);
}

.conteudo-item.planta {
  background: radial-gradient(circle, rgb(126, 128, 8) 37%, rgba(27,82,50,1) 84%);
}

.img-destaque {
  width: 100%;
  margin: 10px 10px;
}

.linha {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}


.rodape {
  padding: 20px 0;
  background: radial-gradient(circle, rgb(99, 41, 116) 37%, rgb(25, 15, 48) 84%);
  text-align: center;
}

.social {
  margin-bottom: 10px;
}

.icone {
  width: 40px;
  margin: 0 5px;
}

.rodape h1 {
  font-size: 12px;
}

@media screen and (min-width:1024px) {
  .conteudo {
    flex-direction: row;
    justify-content: space-around;
  }
  
  .conteudo-item {
    width: 40%;
  }
}

.lista-robos {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 20px;
}

.robo-bloco {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.robo-item-subtitulo {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  text-transform: uppercase;
  background: radial-gradient(circle, rgb(35, 11, 140) 42%, rgb(56, 20, 73) 84%);
  border-radius: 50px;
}

.robo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.img-grande {
  width: 300px;
  height: auto;
  border-radius: 12px;
}

/* Informações e benefícios */
.informacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
}

.img-media {
  width: 300px;
  border-radius: 12px;
}

/* Espaçamento extra */
.espacamento {
  padding-top: 50px;
  padding-bottom: 50px;
}

.titulo{
  background: radial-gradient(circle, rgb(35, 11, 140) 42%, rgb(56, 20, 73) 84%);
  border-radius: 50px;
}

/* Responsivo para desktop */
@media screen and (min-width: 1024px) {
  .robo-item {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .descricao {
    max-width: 500px;
  }

  .informacoes {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .informacoes div {
    max-width: 500px;
  }
}